* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  text-decoration: none;
}
body{
  background-color: #eee;
  font-family: cambria, serif, sans-serif;
  /* border: 5px solid red; */
}

header {
  display: flex;
  background-color: #eee;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  position: fixed;
  top: 0;
  height: 75px;
  
}
header img {
  width: 40%;
  /* background-color: red; */
}
header nav {
  /* background-color: red; */
  width: 40%;
  display: inline-block;
}

header li {
  display: inline-block;
  padding-right: 8px;
}
header li a {
  color: gray;
}
main {
  
}
.section1 {
  text-align: center;
  margin-top: 100px;
  justify-content: center;
}
 .section1 h2 {
  font-weight: bold;
  padding-top: 20px;
  color: #646262;
 }
input {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 30px;
}
input::placeholder {
  padding-left: 8px;
  color: rgb(184, 179, 179);
  font-style: italic;
}
.submit{
  width: 150px;
  border-radius: 5px;
  background-color: rgb(241, 196, 15);
  border-style: none;
  font-size: 15px;
  font-weight: 800;
}
.section2 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 30px;
}

.grid {
  display: flex;
  
}
.grid div {
  padding-left: 20px;
}
.grid h2 {
  margin-bottom: 5px;
}
.grid p {
  line-height: 18px;
}
.grid h2, p{
  color: rgb(43, 42, 42);
  
}

.section3 {
margin-left: 180px;
margin-top: 50px;
text-align: center;
display: flex;
flex-direction: column;
gap: 15px;
margin-bottom: 30px;




}
.grid_section {
  width: 300px;
  border: 1px solid rgb(97, 95, 95);
 
  
}
.grid_section h3 {
  background-color: rgb(230, 230, 230);
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px;
  color: #555454;
}
.grid_section .money {
font-weight: bold;
font-size: 25px;
margin-top: 14px;
margin-bottom: 20px;
}
.grid_section .details {
  line-height: 25px;
  padding-bottom: 20px;
}
.section3 button {
  background-color: rgb(253, 222, 95);
  border-style: none;
  padding: 10px 20px;
  color: #575656;
  font-size: 17px;
  margin-bottom: 20px;
}
footer {
  background-color: #ebe7e7;
  text-align: end;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px ;
}
footer li {
  display: inline-block;
  padding-left: 20px;
}
footer li a {
  color: rgb(73, 72, 72);
  
}